In [1]:
import numpy as np
import pandas as pd
# This is the library for the Reservoir Computing got it by: https://github.com/cknd/pyESN
from pyESN import ESN
from matplotlib import pyplot as plt
import seaborn as sns
import tensorflow as tf
from sklearn.preprocessing import MinMaxScaler
from tqdm import tqdm

In [6]:
df = pd.read_csv('train.csv', sep=',')

df

,Unnamed: 0,Date,Close/Last,Volume,Open,High,Low,NextOpen,Company,ID
0,4121,2/17/17,$133.53,12265480,$133.50,$134.09,$133.17,$133.50,SHARE B,4121
1,2013,3/11/19,"$1,670.62",3797298,"$1,626.12","$1,672.29","$1,626.01","$1,669",SHARE C,2013
2,6016,7/29/16,$26.05,110791880,$26.05,$26.14,$25.92,$26.10,SHARE D,6016
3,13054,6/16/16,$11.89,24626072,$11.75,$11.91,$11.64,$11.90,Company H,13054
4,3053,5/18/21,$309.96,14522400,$315.59,$316.50,$309.81,$304.19,SHARE B,3053
...,...,...,...,...,...,...,...,...,...,...
11679,9225,1/23/18,$91.90,23014000,$91.90,$92.30,$91.54,$92.55,SHARE F,9225
11680,13123,3/9/16,$7.93,22278412,$8.01,$8.02,$7.83,$7.98,Company H,13123
11681,9845,8/6/15,$46.62,27344040,$47.71,$47.77,$46.33,$46.39,SHARE F,9845
11682,10799,10/26/18,$66.18,136901100,$61.65,$67.98,$61.33,$67.49,SHARE G,10799
11683,2732,4/29/16,$659.59,10303510,$666,$669.98,$654,$663.92,SHARE C,2732

In [7]:
df["Close_Last"] = df["Close/Last"].str.replace('$', '') # removes $
df[2] = df[2].str.replace(' ', '') # removes spaces 
df[2] = df[2].str.replace(',', '') # removes ,

/var/folders/ln/0kwkh5_11b386_kvyrdr4x780000gn/T/ipykernel_41515/269211371.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df["Close_Last"] = df["Close/Last"].str.replace('$', '') # removes $

KeyError: 2